.headline {
  font-size: 5rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;


}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--dusty-aqua);


}
.content :first-child {
  margin-top: 0;

}
.content :last-child {
  margin-bottom: 0;

}

.form {
  background-color: var(--dusty-blue-lighter);
  padding: 1rem;
  border: 1px solid var(--dusty-blue);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--dusty-blue);


}

.label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  display: block;
  font-size: 1.2rem;
  
  

}

.form input {
  padding: 0.5rem;
  
  border: 1px solid var(--dusty-blue);
  border-radius: 0.5rem;
  margin-bottom: 1rem;


 
}

.button {
  padding: 0.5rem;
  background: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 1rem;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 0 0.5rem var(--blue);
  outline: none;
  margin-top: 1rem;


}


.button:hover {
  background: var(--hover);
  color: var(--white);
  cursor: pointer;

  
}

.myForm {
  position: fixed;
  background-color: #f3f7f7;
  padding: 1rem;
  width: 20rem;
  height: 28rem;
  margin: 2rem;
  border: 1px solid var(--dusty-aqua);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--dusty-aqua);
  z-index: 1;
  

}
.myForm label{

  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  
  
  

}

.myForm input{
  padding: 0,3rem;
  border: 1px solid var(--dusty-aqua);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 90%;
  outline: none;
  font-size: 1.1rem;
  font-weight: 400;
  
}

.myForm button{
  padding: 0.5rem;
  background: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  width: 90%;
  margin-bottom: 0,5rem;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 0 0.5rem var(--blue);
  outline: none;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  

}